
.form-header {
    font-size: 24px;
    color: #063778;
    //letter-spacing: 0.02em;
    line-height: normal;
}
.split-item {
    min-height: 100vh;
    height: 100vh;
    .split-header1 {
        font-size: 38px;
        font-weight: bold
    }
   
}

 .split-header2 {
        font-size: 28px;
        line-height: normal;
        color: rgba(255, 255, 255, 0);
    }

.split-left {
    background:url('../../images/signup/left-image.png');
    background-size: cover;
    color: #fff;
    h1, h2{
    padding-top: 70px;
    padding-left: 70px;
    }
    
}



.split-right{
    background: #fff;
    color: #000;
    align-items: center;
    justify-content: center;
    .form-input {
        width: 361px;
        height: 45px;
    }
    .form-tc {
       width: 16px;
       height: 16px;
    }

    .tc {
        font-size: 14px;
        line-height: normal;
        color: #414042;
        padding-left: 10px;
        padding-top: -10px;
    }

}

