

.split-item {
    min-height: 100vh;
    height: 100vh;
}

.split-left {
    background:url('../../images/signup/left-image.png');
    background-size: cover;
    color: #fff;
    h1, h2{
    font-family: Circular Std;
    padding-top: 70px;
    padding-left: 70px;
    }
    
}



.split-right{
    background: #fff;
    color: #000;
     align-items: center;
  justify-content: center;

}

