.home {
  padding: 24px 10%;
  height: 100vh;
  color: #ffffff !important;
  background-color: #1875f0;
  .navbar-brand.logo {
  }
  .rs-navbar.navbar {
    background: transparent !important;
    a {
      color: #ffffff !important;
    }
    .rs-navbar-body {
      .rs-navbar-nav {
        width: 30%;
      }
    }
    .call2action {
      float: right;
      .rs-nav-item-content[role="button"] {
       padding-top:8px;
      }
    }
  }
  .topInfo {
    margin-top: 18em;
    h1 {
      font-size: 56px;
    }
    h3 {
      font-size: 24px;
    }
    button {
      font-size: 18px;
      margin-top: 36px;
    }
  }
  .features {
    margin-top: 12em;
    .box {
      padding: 48px !important;
      background-color: #eeeeee;
      border-radius: 8px;
      i {
        color: #589c9c;
      }
      h2 {
        color: #1875f0;
      }
      p {
        color: #000000;
        font-size: 18px;
      }
    }
  }
}
